site_name: ASAP CRN Learning Lab
site_description: Starter guide for ASAP-CRN on Verily Workbench
site_url: https://asap-crn.github.io/learning-lab
repo_url: https://github.com/ASAP-CRN/asap-crn-learning-lab
repo_name: asap-crn-learning-lab

# Only build from /docs
docs_dir: docs

theme:
  name: material
  logo: images/ASAP-CRN_logo.png
  favicon: images/favicon_ASAP-CRN.png
  features:
    - navigation.sections
    - navigation.instant
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default

plugins:
  - search
  - pdf-export:
      verbose: true
      
markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - attr_list
  - pymdownx.details
  - pymdownx.highlight

nav:
  - Home: index.md
  - Getting Started: getting-started.md
